@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroolbar styles */
body::-webkit-scrollbar-track {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 12px inset;
  background-color: #313131;
}
body::-webkit-scrollbar-thumb {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 12px inset;
  background-color: #999999;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #313131;
}

.searchScroll::-webkit-scrollbar {
  width: 10px;
}
.searchScroll::-webkit-scrollbar-track {
  background-color: #37383d;
}
.searchScroll::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

:root {
  font-size: 14px;
  --primary-text-size: 1.25rem;
  --secondary-text-size: 1rem;
  --primary-spacing: 1rem;
  --primary-font: "Vazir FD";
}

body,
html {
  overflow-x: hidden;
  line-height: 1.5;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

@layer base {
  .header {
    background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
    @apply absolute z-20 mt-0 flex min-h-[70px] w-full items-center justify-between rounded-b-2xl pl-4 md:rounded-b-[2.25rem] mdl:px-9;
  }

  #app {
    @apply min-h-full min-w-full bg-primary;
  }

  .catBtn {
    @apply mb-2.5 ml-2.5 flex w-[6.5rem] cursor-pointer flex-wrap items-center justify-center rounded-[5px] border border-solid border-white px-[3px] py-2.5 text-xs transition-all duration-500 ease-in-out visited:text-[unset] hover:bg-[#0a0d14] 
    md:m-2 md:w-[8rem] mdl:text-base xl:w-[9rem];
  }
  .playBtn {
    @apply relative m-0 mx-[0.5px] flex min-h-[40px] w-[120px] items-center justify-center gap-2 rounded-md bg-[#f90000] bg-center p-[0.625px] px-2.5 text-center text-[1.1rem] text-base text-white outline-none md:m-[unset] md:ml-4;
  }
  .swiper-btn-prev,
  .swiper-btn-next {
    @apply z-50 m-[10px] h-[2rem] w-[2rem] cursor-pointer rounded-[25px] bg-[#50474766] bg-no-repeat  p-[20px];
    background-position: center center;
    background-size: 15px;
  }
  .swiper-btn-prev::after,
  .swiper-btn-next::after {
    @apply absolute top-[5%] -mt-[1px] h-0.5 w-[calc(50%_-_14rem)] bg-[#808080];
  }

  .btn-primary {
    @apply relative z-10 cursor-pointer overflow-hidden rounded-md border-none bg-[#636363b3] px-2.5 text-center
     text-sm font-normal text-white no-underline outline-none transition-all ease-in before:absolute before:-left-2/4 before:-top-2/4 before:h-[200%] before:w-[200%] before:translate-x-2/4 hover:bg-[#636363];
  }
  .slider-mobile-bg {
    background-image: radial-gradient(
      at left center,
      transparent 25%,
      rgb(0, 0, 0) 100%
    );
  }
  .movies-mobile-bg {
    background-image: linear-gradient(
        0deg,
        rgb(23, 28, 36) 0%,
        rgba(23, 28, 36, 0) 46%
      ),
      linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%);
  }

  @media (max-width: 500px) {
    .slider-mobile-bg {
      background-image: linear-gradient(
          rgba(23, 28, 36, 0) 10vw,
          rgb(23, 28, 36) 80vw
        ),
        linear-gradient(to left, rgba(23, 28, 36, 0.7), rgba(23, 28, 36, 0) 50%);
    }
    .movies-mobile-bg {
      background-image: linear-gradient(
          rgba(18, 18, 18, 0) 45vw,
          rgb(23, 28, 36) 80vw
        ),
        linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%);
    }
  }
}
html body section .swiper-btn-prev,
html body section .swiper-btn-next {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  border-radius: 25px;
  z-index: 9999;
  padding: 20px;
  cursor: pointer;
  background-color: rgba(80, 71, 71, 0.4);
  width: 2rem;
  height: 2rem;
  margin: 10px;
}
body .swiper-btn-prev {
  background-image: url("../public/assets/general/Greater-than\ sign.svg");
}

body .swiper-btn-next {
  background-image: url("../public/assets/general/Less-than\ sign.svg");
}

/*  */
body .swiper-button-next {
  background-image: url("../public/assets/general/Less-than\ sign.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  border-radius: 25px;
  z-index: 9999;
  padding: 20px;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 10px;
  top: 25%;
}

@media (min-width: 600px) {
  html body .swiper-button-next,
  html body .swiper-button-prev {
    top: 35%;
  }
}
body .swiper-button-prev {
  background-image: url("../public//assets//general/Greater-than\ sign.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  border-radius: 25px;
  z-index: 9999;
  padding: 20px;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 10px;
  top: 25%;
}

body .swiper-button-prev::after,
body .swiper-button-next::after {
  content: "" !important;
}

.btn-bg {
  background: linear-gradient(
    298deg,
    rgb(239, 209, 21) 0px,
    rgb(207, 153, 42) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px;
}
.movie-bg {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(13, 13, 25) 30%);
}
.swiper {
  width: 100%;
  height: 100%;
}
